In [18]:
import pandas as pd
import numpy as np

df= pd.read_csv("Cars export 2025-02-05 19-38-54.csv")

marcas_diferentes = df["Manufacturer"].unique()
años_diferentes =df["year"].unique
print(marcas_diferentes)
print(años_diferentes)
df["puntuacion2"]=pd.cut(df["year"],bins=[1969,2003,2012,2024], labels=["1","2","3"])
df["puntuacion2"]=df["puntuacion2"].map({'1':1,'2':2,'3':3})
grouped = df.groupby('Manufacturer')['price'].mean() / 10000


df['puntuacion'] = df['Manufacturer'].map(grouped)
df['puntuacion'] = pd.to_numeric(df['puntuacion'], errors='coerce')
df['puntuacion2'] = pd.to_numeric(df['puntuacion2'], errors='coerce')


df['puntuacion3'] = df['puntuacion'] + df['puntuacion2']


print(df)


df

['merc' 'Audi' 'BMW' 'hyundi' 'skoda' 'volkswagen' 'toyota' 'ford'
 'vauxhall']
<bound method Series.unique of 0        2020
1        2020
2        2011
3        2020
4        2019
         ...
97707    2003
97708    2003
97709    2002
97710    2001
97711    2003
Name: year, Length: 97712, dtype: int64>
           model  year   price transmission  mileage fuelType  tax   mpg  \
0        G Class  2020  159999    Semi-Auto     1350   Petrol  145  21.4
1        G Class  2020  154998    Automatic     3000   Petrol  150  21.4
2       SL CLASS  2011  149948    Automatic     3000   Petrol  570  21.4
3             R8  2020  145000    Semi-Auto     2000   Petrol  145  21.1
4        A Class  2019  140319    Semi-Auto      785   Petrol  150  22.1
...          ...   ...     ...          ...      ...      ...  ...   ...
97707      Corsa  2003     590       Manual    82000   Petrol  160  44.8
97708      Focus  2003     495       Manual   177644   Petrol  200  41.5
97709      Corsa  2002     495       Manual    99842   Petrol  145  50.4
97710      Astra  2001     450       Manual   159000   Petrol  235  40.4
97711      Agila  2003     450       Manual    90000   Petrol  205  43.5

       engineSize Manufacturer  puntuacion2  puntuacion  puntuacion3
0             4.0         merc            3    2.463643     5.463643
1             4.0         merc            3    2.463643     5.463643
2             6.2         merc            2    2.463643     4.463643
3             5.2         Audi            3    2.285396     5.285396
4             4.0         merc            3    2.463643     5.463643
...           ...          ...          ...         ...          ...
97707         1.2     vauxhall            1    1.031426     2.031426
97708         1.6         ford            1    1.226978     2.226978
97709         1.0     vauxhall            1    1.031426     2.031426
97710         1.6     vauxhall            1    1.031426     2.031426
97711         1.2     vauxhall            1    1.031426     2.031426

[97712 rows x 13 columns]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,Manufacturer,puntuacion2,puntuacion,puntuacion3
0,G Class,2020,159999,Semi-Auto,1350,Petrol,145,21.4,4.0,merc,3,2.463643,5.463643
1,G Class,2020,154998,Automatic,3000,Petrol,150,21.4,4.0,merc,3,2.463643,5.463643
2,SL CLASS,2011,149948,Automatic,3000,Petrol,570,21.4,6.2,merc,2,2.463643,4.463643
3,R8,2020,145000,Semi-Auto,2000,Petrol,145,21.1,5.2,Audi,3,2.285396,5.285396
4,A Class,2019,140319,Semi-Auto,785,Petrol,150,22.1,4.0,merc,3,2.463643,5.463643
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97707,Corsa,2003,590,Manual,82000,Petrol,160,44.8,1.2,vauxhall,1,1.031426,2.031426
97708,Focus,2003,495,Manual,177644,Petrol,200,41.5,1.6,ford,1,1.226978,2.226978
97709,Corsa,2002,495,Manual,99842,Petrol,145,50.4,1.0,vauxhall,1,1.031426,2.031426
97710,Astra,2001,450,Manual,159000,Petrol,235,40.4,1.6,vauxhall,1,1.031426,2.031426
97711,Agila,2003,450,Manual,90000,Petrol,205,43.5,1.2,vauxhall,1,1.031426,2.031426